/* Primary colors */
$at-dark: #00101d;
$at-light: #ffffff;
$at-gray-light: #f5f5f5;
$at-gray-lighter: #e6e6e2;
$at-gray: #939598;
$at-gray-dark: #afafaf;
$at-gray-darker: #656769;
$at-red: #804d34;
$at-border-color: #d9d9d9;

/* Secondary colors */
$at-teal: #009697;
$at-success: #8DC63f;
$at-info: #00b5f1;
$at-warning: #f7941d;
$at-danger: #cf1034;
$at-purple: #96157c;

/* Secondary Alpha colors */
$at-teal-alpha: rgba(0, 150, 151, .15);
$at-success-alpha: rgba(141, 198, 65, .15);
$at-info-alpha: rgba(0, 181, 241, .15);
$at-warning-alpha: rgba(247, 148, 29, .15);
$at-danger-alpha: rgba(207, 16, 52, .15);
$at-purple-alpha: rgba(150, 21, 124, .15);

/* Background colours */
$white: #ffffff;
$near-white: #f6f6f6;

/* Extra colours */
$highlight: #eaeef3;
$link: #0271bb;
$box-shadow: rgba(0,0,0,.2);
