/* You can add global styles to this file, and also import other style files */
@import 'variables';

*, *:before, *:after {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
}
