<section class="max-content">
    <section class="flx not-found">
      <article class="flex flex-col items-center transform transition duration-500 opacity-100 translate-y-0">
        <h2 class="text-subheading" style="text-align: center;">Sorry, the page is not found</h2>
        <h1 class="text-header-1" style="text-align: center;">404</h1>

        <div class="mt-8 -mx-2">
          <a href="/" class="mx-2 my-2"><span>return home</span></a>
        </div>
      </article>
    </section>
</section>
