.form {
  width: 100%;

  .form-header {
    margin-bottom: 24px;
    text-align: center;

    .form-title {
      font-size: 20px;
    }
  }

  .form-submit {
    display: block;
    margin-top: 20px;
  }

  .form-hint {
    margin: 24px 0 0;
  }
}
