<form class="form" [formGroup]="recoverPasswordForm">
  <header class="form-header">
    <h1 class="form-title heading">Recover password</h1>
    <p class="form-legend">Please enter your email:</p>
  </header>
  <div class="form-group mb-lg" [ngClass]="{ 'has-error': isEmailInvalid }">
    <input type="email" name="email" formControlName="email" class="form-input" aria-label="Email" autofocus />
    <span *ngIf="isEmailInvalid" class="fc-danger">Please enter valid email.</span>
  </div>

  <at-button type="primary" size="lg" class="mt-8" [loader]="isLoading" (buttonClick)="recoverPassword()" [disabled]="!recoverPasswordForm.valid">
    Recover
  </at-button>

  <div class="form-hint text-center">
    <span class="text-content-light">Don't have a customer account?</span>
    <a [routerLink]="Page.AccountLogin | baseLink" class="link">Create one</a>
  </div>
</form>
