<section class="relative container padding-top-lg padding-bottom-lg padding-left-md padding-right-md">
  <section class="flex flex-col items-start transform transition duration-500 opacity-100 translate-y-0">
    <h1 class="text-header-lg">Terms and Conditions</h1>
    <p>&nbsp;</p>
    <p>
      1. INTRODUCTION
      <br>
      1.1 What these terms cover. These are the terms and conditions on which we supply products to you as a consumer. If you are a trader, represent a business or other professional wishing to purchase products from us, these terms do not apply to you, please see our Terms and Conditions of Business.
    </p>
  </section>
</section>
